# Ignore these files...
config/build/
docs/build/

# Any log file or log folder
logs/
*.log

#If you like and works with Eclipse Project C/C++
.cproject
.project
.settings/

#If there garbage of test
.temp-test/



